* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
html,body{
  overflow-x: hidden;
}
main {
  background-color: rgba(149, 15, 245, 0.15);
}




.text {
  font-family: "Montserrat", sans-serif;
}
.text-header {
  font-size: 5.63vw;
  font-weight: 800;
}
.text-point {
  font-size: 3.65vw;
  font-weight: 700;

  margin: 7% 0 5%;
  text-align: center;
}
.text-subpoint {
  font-size: 2.60vw;
  font-weight: 700;
}
.text-main {
  font-size: 1.46vw;
  font-weight: 400;
}
.text-chin{
  font-family: "Noto Serif SC", serif;
  font-size: 1.46vw;
  font-weight:100;
}
.white {
  color: white;
}
.purple {
  color: #790cc7;
}




header{
  position: relative;
  z-index: 100;
  top: 0;
  width: 100%;
}
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 55px;
  right: 27px;
  z-index: 101;
}
.menu {
  position: fixed;

  right: -100%;
  height: 100%;
  background-color: rgba(149, 15, 245, 0.3);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;

  backdrop-filter: blur(5px);
}
.menu.open {
  right: 0;
}
.close-button {
  margin: 0 20px;
}
.menu ul {
  list-style: none;
}
.menu li {
  margin: 60px 20px 0 120px;
}
.menu li a, footer ul li a {
  text-decoration: none;
}
#menuButton {
  display: inline-block;
  width: 10vw;
  height: auto;

  background: none;
  border: none;
  cursor: pointer;
}





#main {
  background-image: url("./src/main.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
#main.loaded {
  filter: blur(0);
}

#main-header p{
  font-size: 6vw;
}

/* #main-content p{
   font-size: 1.8vw;

} */

#main-header {
  text-align: center;
  margin: 32vh 0 5vw;
  font-family: 'Roboto', sans-serif;
}
#main-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 100px;
  gap: 3rem;
  margin-top: 4%;
}
#ch-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
#ch-text .text-main{
  flex: 1;
  font-family: 'Noto Serif SC', serif;
}



#intro{
  margin: 5%;
}
#intro-header {
  margin: 7% 0 5%;
  text-align: center;

}
.intro-main {
  text-align: center;
}
.intro-main p{
  margin: 2%;
}



#whywe {
  text-align: center;
  margin: 1%;
}

#conteiner-items {



  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-wrapper {
  background-color: #790cc7;
  width: calc((100% - 24px) / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;

  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;

  height: 100vh;
  transition: all 1s ease;
  opacity: 0;
  transform: translateY(100px);

  box-shadow: -40px -40px  rgba(121, 12, 199, 0.5) ;
}

.item {
  border: 3px solid #25043d;
  text-align: center;
  width: 100%;
  height: 100%;

  padding: 20px;
}
.item-header {
  font-size: 3vw;
  margin: 5% 0 20% 0;
}
.item-main {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-top: auto;
}
.item-main p {
  margin: 5% 0;
}



#item0 {
  transform: translateX(-0%) translateY(100px);
}

#item2 {
  transform: translateX(0%) translateY(100px);
}

.item-wrapper.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.block {
  width: calc((100% - 24px) / 3);
  height: 100vh;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}

.left {
  transform: translateX(-100%) translateY(100px);
}

.right {
  transform: translateX(100%) translateY(100px);
}

.block.active {
  opacity: 1;
  transform: translateX(0) translateY(0);
}












.container {
  width: 70vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(10px); */
}

h1 {
  text-align: center;
  /* font-size: 24px; */
  margin-bottom: 20px;
  /* color: #333; */
}

.service {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.service:last-child {
  border-bottom: none;
}

.number {
  font-weight: bold;
  color: #0056b3;
  margin-right: 15px;
  flex-shrink: 0;
}

.content h2 {
  /* font-size: 18px; */
  color: #000000;
  /* font-weight: 00; */
  margin: 0 0 5px;
  /* line-height: 200%; */
  margin:  0 0 3% 0;
}

.content p {
  margin:  0 0 3% 0;
  font-size: 1.3vw;
}

.explanation {
  color: #888;
  /* font-size: 14px; */
  margin-top: 5px;
}





















.services-header{
  margin-bottom:0;
}
.services-btn{
  display: flex;
  gap:4%;
  margin:1% 4%;
  justify-content: space-evenly;
  height: 10vh;

}
.services-btn .gl-btn,
.services-btn .ch-btn{
  flex:1;
  background-color: #790cc7;
  cursor: pointer;
  border: none;

  height: 100%;
}

.services-main{
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* height: fit-content; */
}

.filter-buttons {
  text-align: center;

}

.filter-buttons button {
  background-color: #790cc7;
  color: #fff;
  border: none;
  border-radius: 5px;

  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-buttons button.active {
  background-color: #25043d;
}

.filter-buttons button:hover {
  background-color: #25043d1e;
}

.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width:100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;

  width:100%;
}

.carousel-item {
  width: 100%;
  background-color: rgba(121, 12, 199, 0.1);
  color: #fff;
  border-radius: 12px;
  border: 1px solid rgba(121, 12, 199, 0.2);
  flex-shrink: 0;
  /* display: flex; */
  /* flex-direction: column; */
  padding: 5%;
  /* height: fit-content; */
  /* transition: transform 0.3s ease; */
}
.carousel-item:hover{
  /* transform: scale(1.1); */
}

.carousel-item p{
  padding: 0;
  margin: 0;
  color: #790CC7;

}
.carousel-item ul li{
  margin: 5% 10px;
}

.carousel-item .item-header{
  width:100%;
  /* margin-bottom: 5%; */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(121, 12, 199, 0.6);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 2;
  font-size: 3vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button.left {
  left:10px;
}

.nav-button.right {
  right: 10px;
}

.carousel-indicators {
  text-align: center;
  margin-top: 20px;
}

.carousel-indicators .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(121, 12, 199, 0.6);
  cursor: pointer;
}

.carousel-indicators .dot.active {
  background-color: #fff;
}






















#contacts .item{

}

#contacts {
  margin: 0 3% ;
}
#contacts-header {
  text-align: center;
  margin: 0;
}

#contacts .contacts-main {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding:0;

  /* background-color: #25043d; */
  width: 100%;
}
#contacts .item-wrapper, #contacts .social-wrapper{
  flex:1;
  height:auto;
  opacity: 1;
  transform: none;
  /* box-shadow: none;

  box-shadow: -40px -40px  rgba(121, 12, 199, 0.5) ;*/
  margin:0 0 3% 0;

  /* background-color: #555; */

}
#contacts .social-wrapper{
  margin-top:1.5%;
}

.contacts-main .item-wrapper img,
.social-wrapper img  {
  width: 12%;
}
.social-wrapper .item {
  border: 0;
}
#contacts #contacts-header{
  margin: 5%;
}
#contacts .item-header{
  margin: 1% 0 5% 0;
}
.social-wrapper .item-header{
  margin: 10% ;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5% 10%;
  text-align: left;
}
.contact-item p {
  margin: 0 5%;
font-size: clamp(14px, 2vw, 36px);
  font-weight: 400;
}
.social-item a{
  text-decoration: none;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #790cc7;
  color: white;
  padding: 20px 40px;

  box-shadow: 0px -10px 2px 0px  rgba(121, 12, 199, 0.5);
}
footer .logo {
  font-size: 2rem;
  font-weight: bold;
}
footer ul {
  border-left: 1px solid #fff;
}
footer .nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .nav li {
  margin: 5px 0 0 5px;
}
footer .nav li:first-child {
  margin-top: 0;
}
footer .nav li:last-child {
  margin-bottom: 0;
}
footer .contacts {
  text-align: right;
}
footer .contacts a {
  text-decoration: none;
  color: white;
}
footer .contacts .icons {
  margin-top: 10px;
}
footer .contacts .icons img,
footer .contacts img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}



@media (min-width: 2500px) {
  #main {
    height: 100vh;
  }

}

@media (max-width: 1440px){
  #main{
    height: 80vh;
  }
}

@media (max-width: 1024px){
#main{
  height: 100vh;
}
#main-header{
  margin-top: 17%;
}
#main-content p{
  font-size: 2vw;
}

#menuButton .close-button{
  width: 50%;
}

footer .contacts .icons img,
footer .contacts img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}
}

@media (max-width: 810px){
  #main{
    height: 40vh;
  }

  #whywe .item-wrapper{
    height: 40vh;
  }
  #whywe .text-subpoint{
    font-size: 2.4vw;
  }
  #services .content {
    margin: 0;
}



  #services .section{
    height: 40vh;
  }
  #services .item-wrapper {
    height: 40vh;
  }
  #services .content {
    margin-top: 1vh;
    position: relative;
    animation: none;
  }
}


@media (max-width: 768px) and (min-width: 480px) {
  #services .content {
    margin: 0;
}
  #main{
    height: 40vh;
  }
.item{
  padding: 5px;
}
#services .content  {
  margin: 0;
}

  #main-content{
    padding: 0 10px;
  }
#main-content p{
  font-size: 2vw;
}

#menu ul a{
  font-size: 5vw;
}

#menuButton{
  width: 15%;
}
  #whywe .item-wrapper{
    height: 70vh;
  }
  /* #services .content {
    margin-top: 3vh;

  } */
  .close-button{
    width: 50%;
  }

.intro-main p{
  font-size: 2vw;
}
#whywe-header{
}
#whywe .block{
  box-shadow: -20px -20px  rgba(121, 12, 199, 0.5) ;
  height: 40vh;
}
#whywe .block .item-header{
  font-size: 2vw;
}
#whywe .block .item-main p{
  font-size: 1.7vw;
}

.services-btn button{
  font-weight:900;
  height: 5vh;
}

#contacts .item-wrapper{
  box-shadow: -20px -20px  rgba(121, 12, 199, 0.5);
}

#contacts .item{
  padding: 7% 0;
}
#contacts .contact-item{
  margin:1%;
}

footer .contacts .icons img,
footer .contacts img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}













}
@media (max-width: 480px)  {

  #main-header p{

    font-size:7vw;
  }
#menu ul a{
  font-size: 7vw;
}

#menuButton{
  width: 20%;
}

  #main{
    height: 40vh;
  }
  #main-header{
    margin-top: 25%;
  }
  #main-content{
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    gap: 1rem;
  }
  #main-content p{
    font-size: 2vw;
  }
  #conteiner-items{
    flex-direction: column;
    gap: 10px;
    margin:auto;
    height:100vh;
  }
  #whywe .item-wrapper{
    width: 100%;
    margin:0;
    height: 40vh;
    position: relative;
    margin:0;
    top:0;
    z-index:0;
  }
  #whywe .item-header{
    margin:0;
    font-size: 18px;
  }
  #whywe .item-main p{
    display: block;
    font-size: 3vw;
  }
 #whywe-header{
  margin-bottom: 10%;
 }
#whywe{
  margin-bottom: 10%;
}


  #services .content {
    flex-direction: column;
    height: auto;
  }
  #services .section{
    height: auto;
  }
  .close-button{
    width: 50%;
  }
  #services .item-wrapper{
    height: 10vh;
  }
  #services .item{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section3 .item-main,.section4 .item-main{
    order: 2;
  }
  #services .text-main {
    font-size: 3vw;
  }
  #services .item-header {
    font-size: 4vw;
  }
  .section3 .item-wrapper,.section4 .item-wrapper{
    order: 1;
  }

  #contacts .contacts-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:0;
  }
  #contacts .item-wrapper{
    width:100%;
  }

  #contacts-header{
    padding-bottom:10%;
  }

  .text-point{
    font-size: 5vw;
  }
  #contacts .item :first-child{
    font-size: 5vw;
  }

  #intro .text-main{
font-size: 3vw;
  }


  footer .contacts .icons img,
footer .contacts img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}
footer .contacts .icons img,
footer .contacts img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}

}


@media (min-width: 3000px){

  .services-main .item-main p,
  .services-main .item-main ul{

    font-size: 2vw;
}

}

